// Parent / Base
#{$buttons} {
	@include base_button;
	border-radius: $button-border-radius;
}

// Shape Modifiers
.btn-round, .btn-round, .btn-round {
	border-radius: 30px;
}

.btn-square, .btn-square, .btn-square {
	border-radius: 0;
}

// Size modifier
.btn-full {
	width: 100%;
	display: block;
}

// Color Modifiers
.btn-success {
	@include base_button($success-button-background, $success-button-text, $success-button-background-hover);
}

.btn-info {
	@include base_button($info-button-background, $info-button-text, $info-button-background-hover);
}

.btn-warning {
	@include base_button($warning-button-background, $warning-button-text, $warning-button-background-hover);
}

.btn-danger {
	@include base_button($danger-button-background, $danger-button-text, $danger-button-background-hover);
}