label {
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
}

#{$forms} {
  display: block;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 9px;
  outline: none;
  vertical-align: middle;
  background: transparent;
  margin-bottom: 5px;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;

  &:focus {
  	border-color: $default-color;
  }
}

textarea {
	min-height: $textarea-min-height;
}

// Chanhes the shape of the form to square shape by overidding the default border radius 
.form-square {
	border-radius: 0;
}

// Wraps a label and form input field and separates them from the next elements
.form-group {
	margin: $form-group-margin;
}

// Validations 
.has-error { 
  border-color: $danger-color;

  &:focus {
    border-color: $danger-color;    
  }
}
.has-warning { 
  border-color: $warning-color;
  &:focus {
    border-color: $warning-color;    
  }
}
.has-success { 
  border-color: $success-color;

  &:focus {
    border-color: $success-color;    
  }
}