.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important; 
}

.center-block {
	display:block;
	margin-right:auto; 
	margin-left:auto;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.clearfix {
	@include clearfix;
}

// Title Header Helper

.page-header {
	@include page_header;
	background: inherit;
}

// Show
.show { display: block; }
.hidden { display: none; }
.invisible { display: hidden; }
.inline { display: inline; }
.inline-block { display: inline-block; }

// Responsive Utilities 
@media screen and (max-width: 480px){
	.show-sm { display: block; }
	.hidden-sm { display: none; }
	.invisible-sm { display: hidden; }
}


@media screen and (min-width: 740px){
	.show-md { display: block; }
	.hidden-md { display: none; }
	.invisible-md { display: hidden; }
}

@media screen and (min-width: 1000px){
	.show-lg { display: block; }
	.hidden-lg { display: none; }
	.invisible-lg { display: hidden; }
}
