.navbar {
	min-height: 66px;
	background: $navbar-bg-color;
	color: $navbar-text-color;

	// Navigation Header
	.navbar-header {
		min-height: 66px;
		color: $navbar-text-color;

		.navbar-logo {
			display: inline-block;
			float: left;
			span {
				font-family: 'Changa One';
				font-weight: bold;
				text-align: center;
				color: $navbar-text-color;
				line-height: 2.5em;
				font-size: 1.7rem;
			}

			a {
				color: $navbar-text-color;
				text-decoration: none;

				&:hover {
					color: darken($navbar-text-color, 95%);
				}
			}

			img {
				height: 66px;
				width: auto;
			}
		}

		button#nav-toggle {
			background: inherit;
			float: right;
			vertical-align: middle;
			padding: 7px;
			font-height: .5em;
			margin: 13px 10px;
			color: $navbar-text-color;
			border: 1px solid #fff;


			&::after {
				@include clearfix;
			}
		}
	}
	
	// Navigation Body
	.navbar-body {
		display: none;
		border-top: 1px solid darken($navbar-text-color, 50%);
		
		ul.navbar-list {
			list-style-type: none;
			padding: 0;
			margin: 0;
			width: 100%;
			padding: 5px 0 5px 0;

			li {
				padding: 0;
				margin: 0;
				display: block;
				color: $navbar-text-color;
				background: inherit;
				padding: 0 5px 0 5px;
				
				a {
					color: $navbar-text-color;
					text-decoration: none;
					display: block;
					padding: 5px;
					line-height: 2.5em;

					&:hover {
						border-radius: 0;
						color: $navbar-bg-color;
						background: $navbar-text-color;
					} // a:hover
				} // a
			} // li
		} // ul

		ul.navbar-list-primary {
			list-style-type: none;
			padding: 0;
			margin: 0;
			width: 100%;
			padding: 5px 0 5px 0;

			li {
				padding: 0;
				margin: 0;
				display: block;
				color: $navbar-text-color;
				background: inherit;
				padding: 0 5px 0 5px;
				
				a {
					color: $navbar-text-color;
					text-decoration: none;
					display: block;
					padding: 5px;
					line-height: 2.5em;

					&:hover {
						border-radius: 0;
						color: darken($navbar-text-color, 20%);
					} // a:hover
				} // a
			} // li
		} // ul

	} // navbar-body
} // navbar

/*
*
* TABLET ONLY STYLES
*
*/

@media only screen and (min-width: 740px) {

}

/*
*
* PC ONLY STYLES
*
*/

@media only screen and (min-width: 1000px) {
	.navbar {
		.navbar-header {
			float: left;

			.navbar-logo {
				margin-right: 10px;
			}
			button#nav-toggle { display: none; }
		}

		.navbar-body {
			float: left;
			display: block;
			border-width: 0px;
			width: auto;
			
			#{$forms} {
				width: 50px;
				float: left;
				display: inline-block !important;
			}

			#{$buttons} {
				display: inline-block !important;
			}

			ul.navbar-list {
				@include navbar_list_base
				
				li {
					padding: 0;
					margin: 0;
					color: #fff;
					background: inherit;
					padding: 0px 0px;
					display: inline-block;
			
					a {
						padding: 4.5px 10px;
						line-height: 3.5em;
					} // a
				} // li
			} // ul

			ul.navbar-list-primary {
				@include navbar_list_base
				
				li {
					padding: 0;
					margin: 0;
					color: #fff;
					background: inherit;
					padding: 0px 0px;
					display: inline-block;
			
					a {
						padding: 4.5px 10px;
						line-height: 3.5em;
					} // a
				} // li
			} // ul
		} // navba-body
	} // navbar

	// Navigation pulls
	.nav-right { float: right !important;}
	.nav-left { float: left !important;} 

} // PC ONLY STYLES
