// Button Mixins
@mixin base_button($btn-bg: $button-background, $btn-text: $button-text, $btn-bg-hover: $button-background-hover){
	background: $btn-bg;
  font-size: 1rem;
  color: $btn-text;
  text-transform: none;
  padding: 9px 15px;
  margin: 0 0 8px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
  display: inline-block;
  text-decoration: none;

  &:hover {
  	background: $btn-bg-hover;
  }
}

@mixin form_border_shadow($color) {
  border-color: $color;
  box-shadow: 0 0px 10px -2px $color;
}

@mixin navbar_list_base {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
}

// Clear Fix
@mixin clearfix {
  float: none;
  clear: both;
}

// Page header
@mixin page_header {
  margin-bottom: 10px;
  background: inherit;
  border-bottom: 1px solid lighten(#000, 80%);

  span, p {
    padding: 5px 0;
    font-size: 1.4em;
  }
}

@mixin alertbase($color, $bg-color) {
  background: $bg-color;
  color: $color;
  // border: 1px solid darken($color, 15%);
  border-radius: 6px;
  padding: 10px;
  position: relative;
  margin: 5px 0;
}

@mixin notebase($color, $bg-color) {
  background: $bg-color;
  color: $color;
  // border-left: 2px solid darken($color, 15%);
  padding: 10px;
  margin: 5px 0;
}

