// Button Mixins
@mixin base_button($btn-bg: $button-background, $btn-text: $button-text, $btn-bg-hover: $button-background-hover){
	background: $btn-bg;
  font-size: 1rem;
  color: $btn-text;
  text-transform: none;
  padding: 12px 20px;
  margin: 0 0 8px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
  display: inline-block;

  &:hover {
  	background: $btn-bg-hover;
  }
}
