html, body, p {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: "DejaVu Sans";
	font-size: 1rem;
	font-style: $font-style;
	font-variant: $font-variant;
	font-weight: $font-weight;
	font-color: $font-color;
	font-family: $font-family;
	line-height: $line-height;
}

// h1 { font-size: 600% ;}
// h2 { font-size: 2.25rem ;}
// h3 { font-size: 2.25rem ;}
// h4 { font-size: 2.25rem ;}
// h5 { font-size: 2.25rem ;}
// h6 { font-size: 150% ;}