html, body, p, div {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: "DejaVu Sans";
	font-size: 1rem;
	font-style: $font-style;
	font-variant: $font-variant;
	font-weight: $font-weight;
	font-color: $font-color;
	font-family: $font-family;
	line-height: $line-height;
}