// Default button variables
$button-background: #0366ee;
$button-background-hover: darken($button-background, 10%);
$button-border-radius: 4px;
$button-text: #fff;

$round-button-border-radius: 30px;
