/*

	GENERAL DEFAULT COLOR VARIABLES

*/
$default-color : #0366ee;
$info-color: #1048cb;
$success-color: #10cb20;
$warning-color: rgb(255, 203, 15);
$danger-color: #e60000;

/*

	CONTAINERS VARIABLES

*/
$large-container-width: 1200px;
$medium-container-width: 1000;
$small-container-width: 800;

/*

	FORM INPUT VARIABLES

*/
$forms: ('[type=range], [type=file], [type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$textarea-min-height: 150px;
$form-group-margin: 0 0 20px 0;
/*

	BOTTON VARIABLES

*/
$buttons: ('button, [type="button"], [type="reset"], [type="submit"], a.button, .btn, .button');
// Default button variables
$button-background: $default-color;
$button-background-hover: darken($button-background, 10%);
$button-border-radius: 4px;
$button-text: #fff;

// Button Shape modifier variables
$round-button-border-radius: 30px;

// Info Button Settings
$info-button-background: $info-color; 
$info-button-text: #fff;
$info-button-background-hover: darken($info-button-background, 10%);

// Success Button Settings
$success-button-background: $success-color; 
$success-button-text: #fff;
$success-button-background-hover: darken($success-button-background, 10%);

// Warning Button Settings
$warning-button-background: $warning-color; 
$warning-button-text: #fff;
$warning-button-background-hover: darken($warning-button-background, 10%);

// Danger Button Settings
$danger-button-background: $danger-color; 
$danger-button-text: #fff;
$danger-button-background-hover: darken($danger-button-background, 10%);
