/***

=============
	Variables	
=============

***/

//GENERAL VARIABLES
$screen-sm-width: 480px;
$screen-md-width: 740px;
$screen-lg-width: 1000px;

// GENERAL DEFAULT FONT VARIABLES
$font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #000;
//$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$line-height: 1.6;
$font-family: "Dejavu Sans";



// GENERAL DEFAULT COLOR VARIABLES
$default-color : #0366ee;
$info-color: #00529B;
$success-color: #4F8A10;
$warning-color: #9F6000;
$danger-color: #D8000C;

$default-bg-color : #0366ee;
$info-bg-color: #BDE5F8;
$success-bg-color: #DFF2BF;
$warning-bg-color: #FEEFB3;
$danger-bg-color: #FFBABA;


// NAVIGATION VARIABLES
$navbar-bg-color: #24292e;
$navbar-text-color: rgba(255,255,255,0.75);

$navbar-link-hover-color: #fff;

// CONTAINERS VARIABLES
$large-container-width: 1200px;
$medium-container-width: 1000;
$small-container-width: 800;


// FORM INPUT VARIABLES
$forms: ('[type=range], [type=file], [type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$textarea-min-height: 150px;
$form-group-margin: 0 0 20px 0;


// BOTTON VARIABLES

$buttons: ('button, [type="button"], [type="reset"], [type="submit"], a.button, .btn, .button');
// Default button variables
$button-background: $default-color;
$button-background-hover: darken($button-background, 10%);
$button-border-radius: 4px;
$button-text: #fff;

// Button Shape modifier variables
$round-button-border-radius: 30px;

// Info Button Settings
$info-button-background: $info-color; 
$info-button-text: #fff;
$info-button-background-hover: darken($info-button-background, 10%);

// Success Button Settings
$success-button-background: $success-color; 
$success-button-text: #fff;
$success-button-background-hover: darken($success-button-background, 10%);

// Warning Button Settings
$warning-button-background: lighten($warning-color, 20%); 
$warning-button-text: #fff;
$warning-button-background-hover: darken($warning-button-background, 10%);

// Danger Button Settings
$danger-button-background: $danger-color; 
$danger-button-text: #fff;
$danger-button-background-hover: darken($danger-button-background, 10%);


// LISTS
$list-inline-apart-separator: ("/");

//
